<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - {{site_title}}</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css" >
    <link rel="stylesheet" type="text/css" href="../style/jquery.ui.plupload.css" >
    <link rel="stylesheet" type="text/css" href="../style/jquery.plupload.queue.css" >
    <link rel="stylesheet" type="text/css" href="../style/jquery-ui-1.8.16.custom.css"  />
  </head>
  <body>
    <div id="headBar">
      <h1>{{site_title}} - {{title}}</h1>
    </div>
    
    <div id="main">